<%layout("layouts/boilerplate")%>
   
   
    <div class="row">
        <form action="/Destinations/<%=destination.id %>?_method=PUT" method="post" novalidate class="validated" enctype="multipart/form-data">
        <h1 class="text-center">Update Destination</h1>
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
            <label for="name" class="form-label" >Name</label>
            <input type="text" class="form-control" name="name" placeholder="Destination Name" value="<%=destination.name%>" id="name" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" class="form-control" placeholder="Destination Location" value="<%=destination.location%>" id="location" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
            <label for="capacity" class="form-label">Budget in Rupees</label>
            <input type="text" name="budget" class="form-control" placeholder="Destination Budget" value="<%=destination.budget%>" id="capacity" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            </div>
           
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description" required><%=destination.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
              </div>
              <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
              <%destination.images.forEach(function(img,i){%>
                  <img src="<%=img.thumbnail%>" class="img-thumbnail">
                  <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name='deleteImages[]' value="<%=img.fileName%>">
                  </div>
                  <label for="image-<%=i%>">Delete</label>
              <%})%>
            </div>
              <div class="mb-3">
              <button class="btn btn-info">Update Destination</button> 
              </div>
              <div class="mb-3">
              <a href="/Destinations">All Destinations</a>
              </div>
        </div>
        
        </form>
        
       
    </div>
    