<% layout("layouts/boilerplate") %>
<div id="cluster-map"></div>
    <h1 class="text-center mt-3" style="font-family:'Josefin Sans', sans-serif";>Destinations </h1>
    <ul></ul>
    <%for (let destination of destinations){%>
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <% if (destination.images.length){%>
                <img src="<%=destination.images[0].url%>" class="img-fluid rounded-start" alt="...">
                <%} else{%>
                  <img src="https://res.cloudinary.com/dtsxbnrxw/image/upload/v1636804899/TravelHub/hnhluq53fgcshfwbycyt.jpg" class="img-fluid rounded-start" alt="...">
                <%}%>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%=destination.name%></h5>
                 
                  <p class="card-text"><small class="text-muted"><%=destination.location%></small></p>
                  <p class="card-text"><%=destination.description.substring(0,240)%>...</p>
                  <a href="/Destinations/<%=destination.id%>" class="btn btn-primary">View More</a>
                </div>
              </div>
            </div>
          </div>
    <%}%>
    </ul>  
    <script>
      const mapToken='<%-process.env.MAPBOX_TOKEN%>';
      const destinations={features:<%-JSON.stringify(destinations)%>};
    </script>
    <script src="/javascripts/clusterMap.js"></script>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
   